@font-face {
  font-family: OpenSansCondensed;
  src: url(./font/OpenSans_Condensed-Light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: OpenSansCondensed;
  src: url(./font/OpenSans_Condensed-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: OpenSansCondensed;
  src: url(./font/OpenSans_Condensed-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: OpenSansCondensed;
  src: url(./font/OpenSans_Condensed-SemiBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: OpenSansCondensed;
  src: url(./font/OpenSans_Condensed-Bold.ttf);
  font-weight: 800;
}